
#container
{
    width: 90%;
    height: 300px;
    background-color: #155E95;
    padding: 20px;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#container div{
    
    margin: 10px 15px 10px;
    width: 100px;
    height: 100px;
}